extends layout

block content
  main: section#index
    h1 Drive Uploader
    form(method="post")
      label File URL
      input(type="text" name="url" placeholder="Enter a file url" required)
      button.btn(type="submit" style="background: #39f") Download

    .control-area
      button.btn(onclick="location.href = '/auth/logout'" style="background: red") Logout
      button.btn(onclick="location.reload()" style="background: #ccc") Refresh

    table
      tr
        th File
        th Status
      each item in items
        tr
          td: a(href=item.url target="_blank")= item.name
          if item.finished && item.driveUrl
            td: a(href=item.driveUrl target="_blank") Open in drive
          else
            td= item.status
      if !items.length
        tr
          td(colspan="10" style="text-align: center")
            code(style="color: grey") No files found
