extends layout

block content
  main: section#index
    h1 Drive Uploader

    form(action="/")
      label File URL
      input(type="text" name="url" placeholder="Enter a file url")
      button(type="submit") Download

    table
      tr
        th File
        th Status
      each item in items
        tr
          td: a(href=item.url target="_blank")= item.name
          if item.finished && item.driveUrl
            td: a(href=item.driveUrl target="_blank") Open in drive
          else
            td= item.status
      if !items.length
        tr
          td(colspan="10" style="text-align: center")
            code(style="color: grey") No files found
