extends layout

block content
  h1 Drive Uploader

  form(action="/download")
    label File URL: 
    input(type="text" name="url" placeholder="Enter a file url") 
    button(type="submit") Download

