extends layout

block content
  div#index
    h1 Drive Uploader

    form(action="/")
      label File URL
      input(type="text" name="url" placeholder="Enter a file url")
      button(type="submit") Download

    table()
      tr
        th File
        th Progress
        th Status
        th Action
      each item in items
        tr
          td: a(href=item.url target="_blank")= item.name
          td= item.progress + '%'
          td= item.status
