body {
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#index {
  width: 100%;
  max-width: 800px;
  min-height: 400px;
}

#index h1 {
  text-align: center;
  color: #666;
}

#index form {
  margin: 10px;
  display: flex;
  justify-content: center;
}

#index form label {
  padding: 10px;
  font-weight: bold;
  text-align: right;
}

#index form input {
  flex-grow: 1;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #dededf;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
}

#index .control-area {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#index table {
  width: 100%;
  margin-top: 10px;
  border-spacing: 0;
  border: 1px solid #d2d3d7;
  border-left: none;
  border-top: none;
}

#index table td, #index table th {
  padding: 10px;
  border: 1px solid #d2d3d7;
  border-right: none;
  border-bottom: none;
}

#index .btn {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  border: 1px solid #aab;
  border-radius: 3px;
  text-align: center;
  text-rendering: none;
  opacity: 0.95;
}

#index .btn:hover {
  outline: none;
  opacity: 0.85;
  text-rendering: none;
}

#index .btn:active {
  outline: none;
  opacity: 1.0;
}

#index .btn-sm {
  width: auto;
  padding: 7px 14px;
  font-size: 13px;
  margin: 0 3px;
  font-weight: normal;
}
