body
  font-family: sans-serif

main
  display: flex
  justify-content: center
  align-items: center

#index
  width: 800px
  min-height: 400px

  h1
    text-align: center
    color: #666
  form
    margin: 10px
    display: flex
    justify-content: center
    label
      padding: 10px
      font-weight: bold
      text-align: right
    input
      flex-grow: 1
      padding: 10px
      border: 1px solid #dededf
      outline: none
      border-radius: 3px
      font-size: 16px
    button
      display: inline-block
      width: 150px
      padding: 10px;
      margin: 0 10px
      font-weight: bold
      outline: none
      border: 1px solid #cce
      border-radius: 3px
      background: #90caf9
      &:hover
        outline: none
        background: #64b5f6;
      &:active
        outline: none
        background: #42a5f5;
  table
    width: 100%
    margin-top: 20px
    border-spacing: 0
    border: 1px solid #d2d3d7
    border-left: none
    border-top: none
    td, th
      padding: 10px
      border: 1px solid #d2d3d7
      border-right: none
      border-bottom: none
